{%extends "layout.njk"%}

{%block head %}

    <title>{{item.title}}
        - Games</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content%}

    <div id="wrapper">
        <h1>{{item.title}}</h1>
    </div>

    <section class="video">

        <div class="card" id="{{item.id}}">
            <div class="card_image-container {{'featured-wrapper' if item.featured}}}">
                <iframe src="https://youtube.com/embed/{{item.id}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="imagem de{{item.title}}">

                {%if item.featured %}
                    <div class="featured">EM ALTA</div>
                    {%endif%}
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>

            </div>

        </section>

    {% endblock %}